.weather-wrapper {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 10px;
  border: 1px solid #dad7cd;
  border-radius: 10px;
  padding: 15px;
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
}

h1 {
  color: rgb(0, 17, 255);
}

.form {
  display: flex;
  align-content: center;
  padding: 10px 10px 20px 10px;
}

.form-control {
  width: 80%;
}

#submit-form {
}

.weather-forecast {
  text-align: center;
  margin-top: 25px;
}

.weather-forecast-date {
  font-size: 14px;
}

.forecast-image {
  display: block;
  margin: 0 auto;
}

.weather-forecast-temperature {
  font-size: 12px;
}

.weather-forecast-temperature-min {
  opacity: 60%;
}

footer {
  font-size: 8px;
}
