.weather-wrapper {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 10px;
  border: 1px solid #dad7cd;
  border-radius: 10px;
  padding: 15px;
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
  background-color: rgb(243, 241, 223);
}

h1 {
  color: rgb(255, 145, 0);
  margin-top: 15px;
  margin-bottom: 15px;
}

li::first-letter {
  text-transform: capitalize;
}

.form {
  display: flex;
  align-content: center;
  padding: 10px 10px 20px 10px;
  align-items: center;
}

.form-control {
  width: 80%;
}

#search-button {
  background-color: rgb(255, 255, 255);
  border: 1px solid #dad7cd;
  border-radius: 5px;
  width: 90px;
}

.weather-today {
  align-items: center;
}

.temperature-today {
  display: flex;
}

.degree-today {
  font-size: 50px;
}

.units {
  margin-top: -20px;
}

.description-today {
  font-size: 14px;
}

.weather-forecast {
  text-align: center;
  margin-top: 25px;
}

.weather-forecast-date {
  font-size: 14px;
}

.forecast-image {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.weather-forecast-temperature {
  font-size: 12px;
  margin-bottom: 20px;
}

.weather-forecast-temperature-min {
  opacity: 60%;
}

footer {
  font-size: 8px;
}
